main {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-areas:
                    "hd  hd hd hd"
                    "ul ul ul ul"
                    "sec sec sec sec"
                    "ft ft ft ft";
                grid-gap: 0.5em;
}


header {

        display: grid;
        grid-area: hd;
		height: 80px;
        padding: 1.5em;
        background-color: lightskyblue;
}

.intro {
        background-image: url(images/header.jpg);
        background-size: cover;
        opacity: .70;
        display: grid;
        grid-area: ul;
        height: 400px;
        width: 100%;

}


section {
		display: grid;
		grid-gap: 5px;
        margin: 30px 30px 30px;;
		grid-template-columns: repeat(1, 1fr);
		/* grid-template-columns: repeat(auto-fill, 200px); */
		grid-auto-rows: 1fr;
		justify-content: center;

		}

article {

        border-radius: .5em;
		height: 200px;
        background-color: lightskyblue;

		}

.text {
			grid-column: 1 / -1;
		}



.nav {

    position: static;
    display: inline;
    background-color: lightskyblue;
    height: 100px;
    left: 0;
    right: 0;


}


}
nav ul li{

    display: inline;
    font-size: 1.3em;
    padding-right: 10px;
    margin-left: 300px;

}
nav ul li a{
    text-decoration: none;
    color:darkslategray;

}

.logo {

    height: 80px;
    width: 130px;


}


    /* if you want it vertically middle of the navbar */

 nav ul li{

    display: inline;
    font-size: 1.3em;
    padding-right: 10px;
    margin-left: 100px;

}


footer{
        height: 100px;
        border: 1px solid;

}
